{
    "singleQuote": true,
    "printWidth": 120,
    "tabWidth": 4,

    "plugins": ["prettier-plugin-blade", "@prettier/plugin-php"],

    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
